language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules

before_script:
  - npm run bootstrap

script:
  - npm run build

deploy:
  provider: pages
  strategy: git
  skip_cleanup: true
  token: $GITHUB_TOKEN
  keep_history: false
  local_dir: dist
  on:
    branch: main