language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
strategy: git
jobs:
  fast_finish: true
  include:
    - env: node_js
      before_script:
        - cd ${TRAVIS_BUILD_DIR}/multiple-react-apps
        - npm install
        - npm run bootstrap
      script:
        - npm run build
deploy:
  provider: pages
  cleanup: false
  github_token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: main