@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

*[glaze] {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

*[glaze] h4 {
  text-align: center;
  font-size: 12px;
}

.layout { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#footer {
  height: 65px;
}

#footer div[glaze] {
  height: auto;
}

#footer h1 {
  margin-top: 8px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

#footer h3 {
  font-size: 12px;
}

#navbar, #footer {
    flex: 0 0 55px;
    background-color: white;
    color: #333;    
}

#navbar, #footer h1 {
  color: #333;
}

.content-outer {
  flex: 1;
  width: 100%;
  overflow: auto;
}
  
#content {
  height: 100%;
  margin: 0 auto;
  width: 80%;
}

.logo {
  max-height: 45px;
  margin: 0 14px;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.form-group {
    margin-bottom: 20px;
}

input[type='checkbox'] {
      margin-right: 10px;
}

label {
      display: block;
      margin-bottom: 5px;
}

button.wide {
      width: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  z-index: 1;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}